<dom-module id="<%= name %>">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    class <%= classname %> extends Polymer.Element {
      static get is() { return '<%= elementName %>'; }

      static get config() {
        return {
          properties: {
            prop1: {
              type: String,
              value: '<%= elementName %>'
            }
          }
        };
      }
    }
    customElements.define(<%= classname %>.is, <%= classname %>);
  </script>
</dom-module>
